<!doctype html>
<html>
  <head>
    <title>{{{appName}}}</title>
    <style type="text/css">
      {{>style.css}}
    </style>
  </head>
  <body>
  <h3>{{{appName}}}</h3>
    <div class="app-desc">{{{appDescription}}}</div>

  {{#apiInfo}}
  {{#apis}}
  {{#operations}}
  <h3><a name="{{baseName}}">{{baseName}}</a></h3>
  {{#operation}}
  <div class="method"><a name="{{nickname}}"></a>
    <div class="method-path">
    <pre class="{{httpMethod}}"><code class="huge"><span class="http-method">{{httpMethod}}</span> {{path}}</code></pre></div>
      <div class="method-summary">{{{summary}}} (<span class="nickname">{{nickname}}</span>)</div>
    {{! notes is operation.description. So why rename it and make it super confusing???? }}
    <div class="method-notes">{{{notes}}}</div>

    {{#hasPathParams}}
    <h5 class="field-label">Path parameters</h5>
    <div class="field-items">
      {{#pathParams}}{{>pathParam}}{{/pathParams}}
    </div>  <!-- field-items -->
    {{/hasPathParams}}

    {{#has this 'consumes'}}
    <h5 class="field-label">Consumes</h5>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
    {{#consumes}}
      <li><code>{{{mediaType}}}</code></li>
    {{/consumes}}
    </ul>
    {{/has}}

    {{#hasBodyParam}}
    <h5 class="field-label">Request body</h5>
    <div class="field-items">
      {{#bodyParams}}{{>bodyParam}}{{/bodyParams}}
    </div>  <!-- field-items -->
    {{/hasBodyParam}}

    {{#hasHeaderParams}}
    <h5 class="field-label">Request headers</h5>
    <div class="field-items">
      {{#headerParam}}{{>headerParam}}{{/headerParam}}
    </div>  <!-- field-items -->
    {{/hasHeaderParams}}

    {{#hasQueryParams}}
    <h5 class="field-label">Query parameters</h5>
    <div class="field-items">
      {{#queryParams}}{{>queryParam}}{{/queryParams}}
    </div>  <!-- field-items -->
    {{/hasQueryParams}}

    {{#hasFormParams}}
    <h5 class="field-label">Form parameters</h5>
    <div class="field-items">
      {{#formParams}}{{>formParam}}{{/formParams}}
    </div>  <!-- field-items -->
    {{/hasFormParams}}

    <h5 class="field-label">Responses</h5>
    {{#responses}}
    <h6 class="field-label">{{code}}</h6>
    {{message}}
        {{#simpleType}}<a href="#{{dataType}}">{{dataType}}</a>{{/simpleType}}
    {{/responses}}
  </div> <!-- method -->
  <hr/>
  {{/operation}}
  {{/operations}}
  {{/apis}}
  {{/apiInfo}}

  </body>
</html>
