*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
/.idea/
/tmp/recording.jfr
/XXX.html
/tmp/XXX.html
/XXX.pdf
/katex.min.css
/katex.min.js
/mermaid.min.js
/oldTCS-missing.pdf
/TCS.pdf
/XXX.info
/YYY.pdf
/ESEN.pdf
/ESEN-1.0.pdf
/ICD-ESEN-TCS-1.0.pdf
/TCS-1.10.pdf
