@import icd.web.shared.Csrf
@import play.api.Environment
@import org.webjars.play.WebJarsUtil

@(debug: Boolean, assets: AssetsFinder, csrfToken: Csrf, webJarsUtil: WebJarsUtil)(implicit request: RequestHeader, environment: Environment)

@main("TMT Interface Database System", assets, webJarsUtil) {
    @scalajs.html.scripts(
        "icdwebclient",
        name => assets.path(name).toString,
        name => getClass.getResource(s"/public/$name") != null)

    <script>
            var settings = {
                "csrfToken": "@csrfToken",
                "inputDirSupported": !!('webkitdirectory' in document.createElement('input'))
            };
            new IcdWebClient(settings.csrfToken, settings.inputDirSupported);
    </script>
}
