@(title: String, assets: AssetsFinder, webJarsUtil: org.webjars.play.WebJarsUtil)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">

        @webJarsUtil.locate("bootstrap.min.css").css()
        @webJarsUtil.locate("bootstrap-table.min.css").css()
        @webJarsUtil.locate("jquery-ui.min.css").css()

        <link rel="stylesheet" media="screen" href="@assets.path("stylesheets/resize.css")">
        <link rel="stylesheet" href="@assets.path("stylesheets/icd.css")">
    </head>
    <body>
        @content
    </body>
</html>
