/* jquery-ui resizable generated class names */
.ui-resizable {
}

.ui-resizable-handle {
    position: absolute;
    font-size: 1px;
    z-index: 99999;
    display: block;
}

.ui-resizable-e {
    background: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    /*box-shadow: inset 0 1px 0 #6e6e6e,0 2px 2px rgba(0,0,0,0.4);*/
    width: 10px;
    z-index: 88 !important;
}

.ui-resizable-e:after {
    content: "-";
    display: block;
    position: absolute;
    top: calc(50% - 16px);
    left: 0;
    height: 25px;
    width: 2px;
    background-color: #c7c7c7;
    margin: 3px;
}

/* For expanding table cells containing long descriptions */
.shortDescription {
    max-height: 30px;
    max-width: 300px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: move;
}

.fullDescription {
    height: auto;
    width: auto;
    max-height: none;
    max-width: 400px;
    overflow: inherit;
    word-wrap: break-word;
    cursor: move;
}

.shortDescriptionTableCell {
    word-wrap: break-word;
    white-space: nowrap;
    cursor: move;
}

.fullDescriptionTableCell {
    word-wrap: break-word;
    white-space: normal;
    cursor: move;
}

.shortDescriptionSpan {
    cursor: move;
}

/* Fix problem with modal publish dialog popup: See https://stackoverflow.com/questions/44181031/bootstrap-modal-disabled */
.modal-backdrop {
    z-index: -1;
}

/* Busy cursor */
.change-cursor {
    cursor: progress !important;
}

/* See https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* The settings below were previously done with scalacss, which seems to be no longer maintained. */

#mainContent {
    padding: 7px 0 0 15px;
}

#sidebar {
    padding: 7px 0 0 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#layout {
    padding: 60px 0 0 0;
}

#content {
    float: left;
    padding: 0 0 100px 0
}

.componentTable {
    table-layout: fixed;
    max-width: 90%;
}

#fitsTags {
    margin-left: 16px;
}

#fitsTagsLabel {
    margin-right: 16px;
}

#fitsTable {
    padding: 10px 0 0 0;
    table-layout: fixed;
    max-width: 90%;
}

.attributeTable {
    margin: 0;
}

.noWrapTableColumn {
    white-space: nowrap;
}

#fileUploadMessages {
    padding: 0 10px;
    margin: 1em 0;
    border: 1px solid gray;
}

.commentBox {
    padding: 10px 0;
    margin: 1em 0;
}

.component {
    width: 100%;
    page-break-before: always;
}

.componentSection {
    page-break-inside: avoid;
}

.attributeBtn {
    margin: 0;
    outline: none;
    border-radius: 0;
    border: 0
}

.navbarBtn {
   font-size: 17px;
}

.attributeCell {
    white-space: nowrap;
}

.selectDialogLabel {
    padding: 6px 6px 0 16px;
}

.selectDialogSubsystem {
    padding: 0 0 0 12px;
}

.selectDialogVersion {
    padding: 0 0 0 5px;
}

.selectDialogComponent {
    padding: 0 0 0 5px;
}

.selectDialogIcdRow {
    padding: 0 0 60px 0;
}

.selectDialogSubsystemRow {
    padding: 0 0 5px 0;
}

#subsystemSwapper {
    padding: 0 0 20px 200px;
    font-size: 30px;
}

.selectDialogButton {
    padding: 0 0 0 10px;
}

.statusDialogSubsystemRow {
    padding: 0 0 20px 0;
}

.scrollableDiv {
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 600px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.unstyledPre {
    border: 0;
    color: black;
    background-color: transparent;
}