/* 
   Some simple Github-like styles
*/
html {
    background: #fff;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, freesans, clean, sans-serif;
    font-size: 10px;

    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    color: #333;
    max-width: 920px;
}

.md {
    background-color: #eee;
    border-radius: 3px;
    margin: 0;
    padding: 3px;
}

article {
    padding: 30px;
    border: 1px solid #cacaca;
    background-color: white;
}

article > :first-child {
    margin-top: 0 !important;
}

h1 {
    font-size: 14px;
    color: black;
}

h2 {
    font-size: 14px;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}

h3 {
    font-size: 12px;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 10px;
}

h6 {
    color: #777;
    font-size: 10px;
}

hr {
    border: 0 none;
    height: 1px;
    padding: 0;
}

pre, code {
    font: 12px 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

.highlight pre, pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 10px;
    line-height: 19px;
    overflow: auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 6px 10px;
}

code {
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 2px;
    padding: 0 5px;
}

pre > code {
    white-space: pre;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

a, a code {
    color: #4183C4;
    text-decoration: none;
}

blockquote {
    border-left: 4px solid #ddd;
    padding-left: 11px;
    color: #555;
    margin: 14px 0;
}

table {
    font-size: 10px;
    border-collapse: collapse;
    margin-left: 16px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 0;
    table-layout: fixed;
    word-wrap: break-word;
}

table tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ccc;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr th[align="center"], table tr td[align="center"] {
    text-align: center;
}

table tr th, table tr td {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table th {
    white-space: nowrap;
}

table tbody tr td p, table tbody tr td div p {
    padding: 5px 0;
    border-width: 0;
    margin: 0;
}

/*.shadow {*/
    /*-webkit-box-shadow: 0 5px 15px #000;*/
    /*-moz-box-shadow: 0 5px 15px #000;*/
    /*box-shadow: 0 5px 15px #000;*/
/*}*/

.pagebreak {
    page-break-after: always;
}

.pagebreakBefore {
    page-break-before: always;
}

.nopagebreak {
    page-break-inside: avoid;
}

